<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <title>Fiscal Heartbreak</title>
</head>

<body class="ml-3 mr-3">

      <!-- Navbar with dark background -->
      <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand bg-info" href="./">Fiscal Heartbreak</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse pr-5" id="navbarSupportedContent">
  
              <!-- ml-auto moves the menu items to the right side -->
              <ul class="navbar-nav ml-auto">
              
              <!-- Home link -->
              <li class="nav-item active">
                  <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
              </li>

              <!-- Visualization -->
              <li class="nav-item">
                  <a class="nav-link" href="./viz">Visualization</a>
              </li>
  
              <!-- Data link -->
              <!-- <li class="nav-item">
                  <a class="nav-link" href="./data">Data Details</a>
              </li> -->

              <!-- API link -->
              <li class="nav-item">
                  <a class="nav-link" href="./api">API Details</a>
              </li>
              
              </ul>
          </div>
      </nav>
    <!--  Main Content of Page using grid -->
    <div class="container mt-5 mb-5" >
        <div class="row">

          <!-- Main column -->
          <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-info">Summary - Fiscal Heartbreak:</h5>
                  <img src="static/img/fiscal-heartbreak2.png" class="float-left mr-3 mb-3 mt-3" width="100" height="auto">
                  <p class="card-text">
                      This project seeks to analyze the
                      impact of US Fiscal Policy on US Family Households. More specifically, we examine
                      the trends of Consumer Debt by county as compared to the trends of Divorce Rates by county.
                  </p>
                  <p>
                      <b>Preliminary Hypothesis: </b><i>Higher levels of consumer debt (measured by debt-to-income
                      ratio or “DTI”) lead to higher rates of divorce and lower rates of marriage.</i>
                  </p>
                  <p>
                    <b>Null Hypothesis: </b><i>There is no relationship between consumer debt and divorce rates.</i>
                </p>
                  <p>In order to perform this analysis, we sourced marriage statistics by county for each of 3 years from the US Census ACS data
                    (table S1201).  Reference: <a href="https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t">
                      Census Data Link</a>
                    In addition, we downloaded data of Household Debt compared to Household Income in the form of a Debt to Income Ratio (DTI) from 
                    Federal Reserve data. Reference: <a href="https://www.federalreserve.gov/releases/z1/dataviz/household_debt/county/map/#state:all;year:2018">
                      Federal Reserve Data Link</a>
                  </p>
                  <p>
                      The following user acceptance tests were performed on the acquired data to ensure acceptable quality:
                      <ul>
                      <li><p><b>Debt-to-Income Ratio Boundaries: </b>ensured that no lower debt-to-income ratio bands exceeded upper debt-to-income ratio band in any given row in order to confirm data reliability and accuracy. This was confirmed by visualizing our debt-to-income ratio differential (upper-band minus lower-band) in ascending order.
                      </p></li>
                      <li><p><b>Sum of Marriage Statistics: </b>Made sure that the sum of overall marriage statistic percentages tied out to ~100% to ensure that data found in each record was complete and accurate. The extrema of the total percentages calculated ranged from 99.8% to 100.2%, which was identified as being caused by insignificant rounding adjustments within the original datasets.
                       </p></li>
                       </ul>
                  </p>
                  <p>Once the data was cleansed and loaded, we generated an API and developed a web application to consume
                    and visualize the data in a user-friendly manner.  Integrating a map, scatter plot, bar chart, and regression
                    analysis onto
                    a single page with linked user interactions allowed us to identify a positive trend and reject the null hypothesis.
                  </p>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title text-info">Team Members:</h5>
                  <p>
                    Joseph Ayala<br>
                    Andrew Behrman<br>
                    Michael Fox<br>
                    Michael Hankinson                  
                  </p>
                  <p>Additional credit goes to Sean Findlay for his contribution to the ETL effort.</p>
                </div>
            </div><br>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-info">Sample Visualizations:</h5><br>
                <img src="/static/img/country-2015.png" width="300"><br>
                <br>
                <img src="/static/img/bar.png" width="300">
              </div>
            </div><br>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-info">Technology Used:</h5>
                <p>
                  Python<br>
                  Javascript<br>
                  HTML<br>
                  CSS<br>
                  Pandas (python)<br>
                  Flask (python)<br>
                  SqlAlchemy (python)<br>
                  PostgreSQL<br>
                  Plotly (js)<br>
                  Plotly (python)<br>
                  Slick Slider (js)<br>
                  Heroku<br>
                  Bootstrap<br>
                  D3 (js)<br>
                </p>
                
              </div>
            </div>
          </div>
        </div>
      </div>  

</body>

</html>
